<div class="column">
  <div class="card-article-profile">
    <a href="{{article-link}}" class="card-img"><img class="card-article-profile-img" src="{{image-link}}" alt="" /></a>
    <div class="card-article-profile-content card-section">
    <div class="card-article-profile-avatar">
    <img src="{{profile-link}}" alt="" />
    </div>
    <p class="card-article-profile-name">{{article-title}}</p>
    <p class="card-article-profile-status">{{article-author}}</p>
    <p class="card-article-profile-info">{{article-excerpt}}</p>
    </div>

    <div class="card-article-profile-actions">
    <a href="{{article-link}}" class="card-article-profile-button button secondary">Read More</a>
  </div>
  </div>
</div>
