<a href="#">
  <article class="article-row">
    <div class="article-row-img">
      <img src="{{image-link}}" alt="" />
    </div>
    <div class="article-row-content">
      <h1 class="article-row-content-header">{{article-title}}</h1>

      <p class="article-row-content-description">{{article-excerpt}}</p>

      <p class="article-row-content-author">{{article-author}}</p>
      <!-- <time class="article-row-content-time" datetime="2008-02-14 20:00">July 14th 2021</time> -->
    </div>
  </article>
</a>
