<!-- <div class="blogpost-footer-actions">
<a href="whatsapp://send" data-text="I thought you might appreciate this article:" data-href="" class="button social whatsapp><i class="fa fa-whatsapp" aria-hidden="true"></i>Whatsapp<span></span></a>
    <a class="button social facebook">
  <i class="fa fa-facebook" aria-hidden="true"></i>Facebook
</a>
<a class="button social twitter">
  <i class="fa fa-twitter" aria-hidden="true"></i>Twitter
</a>
</div> -->

<div class="blogpost-footer-author-section">
  <div clas="columns small-12 medium-9 large-7 medium-offset-1 large-offset-2">
    <a href="#" class="blogpost-footer-author">
      <img class="avatar" src="{{author-profile-pic}}" alt="" />
      <div>
        <p class="author">{{author-name}}</p>
        <p class="bio">{{author-bio}}</p>
      </div>
    </a>
  </div>
  <!-- <a href="{{author-link}}" class="hollow button success">Follow</a> -->
</div>
