<footer class="ourfathers-site-footer about-ourfathers">
  <div class="row medium-unstack">
    <div class="large-4 medium-5 columns">
      <h4 class="ourfathers-site-footer-name">About This</h4>
      <p>#OurFathers is a digital video series for personal screens. It attempts to provide authentic answers to "How to be a father?" and ultimately ask, "Do you want to know the best father of all?"</p>
      <ul class="menu ourfathers-site-footer-menu-social simple">
        <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
         <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
         <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      </ul>
    </div>
    <div class="large-4 medium-3 columns">
     <h4 class="ourfathers-site-footer-title">Contact Info</h4>
      <div class="ourfathers-site-footer-block">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <p>18 Verdun Road, #04-01<br />Singapore 207280</p>
      </div>
      <div class="ourfathers-site-footer-block">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <p>65899600</p>
      </div>
      <div class="ourfathers-site-footer-block">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <p>hello@cru.org.sg</p>
      </div>
    </div>
    <div class="medium-4 partner-logos columns">
      <h4 class="ourfathers-site-footer-title">Partners</h4>
      <div class="row align-middle medium-up-4">
        <div class="column column-block">
          <a href="http://cru.org.sg"><img src="/assets/img/cru-logo-white.png" alt="" /></a>
          <!-- <hr /><p>Cru Singapore is committed to reaching, building and sending Christ-centered multiplying disciples for the Great Commission.</p> -->
        </div>
        <div class="column column-block">
          <a href="http://ywam.org.sg"><img src="/assets/img/ywam-logo.png" alt="" /></a>
          <!-- <hr />
          <p>YWAM Singapore endeavours to be a vibrant international discipling community committed to raise a harvest force for missions into Asia.</p> -->
        </div>
        <div class="column column-block">
          <a href="http://east.edu.sg"><img src="/assets/img/east-logo.png" alt="" /></a>
        </div>
        <div class="column column-block">
          <a href="http://media.cru.org.sg"><img src="/assets/img/mmcolor-logo.png" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="ourfathers-site-footer-bottom">
    <div class="row large-unstack align-middle">
      <div class="column">
        <p>&copy; 2017 Cru Singapore</p>
      </div>
      <div class="column">
        <ul class="menu ourfathers-site-footer-bottom-links">
          <li><a href="index.html">Home</a></li>
          <li><a href="edgar.html">Stories</a></li>

          <li><a href="omnibus.html">Bonus</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
