<footer class="ourfathers-site-footer">
  <div class="ourfathers-site-footer-bottom">
    <div class="row align-center">
      <!-- <p class="column shrink"><a href="http://cru.org.sg"><img src="/assets/img/cru-logo-white.svg" width="50px" /></a></p> -->

      <div class="columns small-12">
        <p>&copy; 2017 Cru Singapore</p>
      </div>

      <div class="columns small-12">
        <ul class="menu ourfathers-site-footer-bottom-links">
          <li><a href="index.html">Home</a></li>
          <li><a href="#">Stories</a></li>

          <li><a href="#">Bonus</a></li>
        </ul>
      </div>
      <div class="up-arrow">
        <a href="#top"><i class="fa fa-chevron-circle-up" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</footer>
